@if (User.IsInRole("Admin"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Options", "Index", "Options")</li>
        <li>@Html.ActionLink("Choices", "Index", "Choices")</li>
        <li>@Html.ActionLink("Terms", "Index", "YearTerms")</li>
    </ul>
}
else if (User.IsInRole("Student"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Submit Choice", "Create", "Choices")</li>
    </ul>
}
